@charset "utf-8";
body { margin-top:0px; background-image: url("cover4.jpg"); background-size:cover; background-repeat: no-repeat;}
.body
{
width:750px; 
background-color:transparent; 
height:1000px;
margin-left:auto;
margin-right:auto;
}

.navigation {
	text-align:center;
	padding:15px;
	color:#C90;
	}
	
.title
{
	font-family:"Courier New",Courier, monospace;
	padding-left:30px;
	padding-right:30px;
	color:#FFF;
	
}

.line { line-height:0.5px; padding-left:50px;}

#wrapper {
	display: block;
	margin: auto;
	height: 300px;
	width: 600px;
	padding-top: 30px;
	
}
#container {
	overflow: auto;
	
}

.slider {
	display: block;
	margin: auto;
	float: left;
	height: 300px;
	width: 600px;
	overflow: hidden;
	position: absolute;
	
}

#text
{

font-size:20px;
color:#FFF;	 
margin-top:20px;
width:400px;
height:50px;
float: left;

}

#news
{
padding-left: 400px;
font-size:20px;
color:#FFF;	 
margin-top: -50px;
margin-left:0px;
width:300px;
height:50px;
float: left;
}

.navigation li {
	font:16px Arial;
	display:inline;
	}
.navigation a {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #808080;
	color:#000000;
	text-decoration:none;
	text-align: center;
    }
.navigation a:hover {
	background-color:#FFD700;
	color:#000000;
	}	
.navigation active{
 display: inline;
 border-bottom:thick #FFF;
 float: left;
 margin: 0;
 }
 .breadcrumb li {
    display: inline;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	color: #FFBF00;
}
.breadcrumb li a:hover{ color:red;}
.breadcrumb li a{ 	text-decoration:none; 	color:#FFF;}
.breadcrumb li+li:before {
    content:"» ";
}

.picm
{
	float:right;
	padding-right:30px;
}

#facts
{
padding-left: 450px;
font-size:20px;
color:#FFF;	 
margin-top: 25px;
margin-left:-20px;
width:300px;
height:300px;
float: left;
}

.picl
{
	float:right;
	padding-right:50px;
}




